*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    flex-flow: column;
    height: 600px;
    justify-content: center;
}

.box {
    height: 100px;
    flex: 0 0 100px;  /* For flex-flow of column, flex-basis controls the height */
}

.one{
    background: red;
    
}

.two{
    background: blue;
    
}

.three{
    background: green;
    
}